@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  html {
    font-family: 'work-sans', system-ui, sans-serif !important;
  }
}

/* .Authentication {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Authentication > form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 40vw;
  margin: auto;
  align-items: center;
}

.Authentication > form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.radio {
  display: flex;
  flex-direction: row !important;
  gap: 8px !important;
}


.ReactTags__tagInputField {
  width: 100%;
  box-sizing: border-box;
} */

/* html {
  font-size: 16px;
} */

/* TOKENS */
:root {
  --brand: #cc205c;
  --brand-hover: #f75381;
  --black: #131011;
  --black-a-8: rgba(19, 16, 17, 0.8);
  --accent: #f9a49e;
  --accent-light: #fcdad8;
  --accent-light-transparent: #fcdad877;
  --accent-strong: #f86353;
  --accent-strong-transparent: #f8635377;
  --accent-dark: #cc3a20;
  --accent-dark-transparent: #cc3a2077;
  --brand-hover-transparent: #f7538177;
  --gray: #978c8e;
}

/* NAVBAR */
a {
  text-decoration: none;
  /* color: grey; */
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 16px 80px; */
  box-sizing: border-box;
}

.dark * {
  color: white !important;
  stroke: white;
  border-color: white;
}

.dark button {
  border-color: transparent;
}

.dark .p-button-secondary *:hover {
  color: var(--accent-light) !important;
}

.dark a:hover {
  color: var(--accent-light) !important;
}

.p-avatar {
  background-color: var(--accent-light);
}

.p-avatar.p-avatar-circle img {
  object-fit: cover;
  object-position: top;
}

.p-menu {
  width: 250px;
  margin-top: 10px;
}

.profileLink {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin: auto;
  padding: 16px 8px;
}

.profileLink a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.profileLink p {
  margin: 0;
}

.p-menuitem-text:hover,
.profileLink > *:hover {
  background-color: transparent;
  color: var(--brand-hover);
}

.p-menu-separator {
  margin: 8px 0;
}

.p-menuitem-content:hover {
  background-color: transparent;
}

.nav-links {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

/* .nav-links a:hover {
  color: var(--brand);
} */

.user-links {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* ARTWORK */
/* .artwork {
} */

.hero {
  height: 80vh;
}

.hire {
  height: 90vh;
}

.artwork-overlay {
  color: rgba(255, 255, 255, 0);
  transition-duration: 0.3s;
}

.artwork-overlay:hover {
  color: white !important;
}

/* SIGNUP/LOGIN */
.portfolio:not(:placeholder-shown) {
  border-color: var(--brand);
  box-shadow: 0 0 0 1px var(--brand);
}

.portfolio:enabled:valid {
  border: 1px solid #d1d5db !important;
  box-shadow: none !important;
}

.p-inputtext {
  font-family: 'work-sans', system-ui, sans-serif !important;
}

.p-inputtext:enabled {
  color: black !important;
  font-weight: 600 !important;
  box-shadow: none !important;
}

.p-inputtext:enabled::placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 400 !important;
}

.p-inputtext:enabled:valid {
  box-shadow: 0 0 0 1px var(--brand);
  border-color: var(--brand);
}
.p-inputtext:enabled:focus {
  box-shadow: 0 0 0 1px var(--brand) !important;
  border-color: var(--brand) !important;
}
.p-inputtext:enabled:hover {
  border-color: var(--brand) !important;
}

.p-button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--accent), 0 1px 2px 0 black;
}

.artwork-img {
  max-width: 100%;
  height: 100%;
  max-height: 53vh;
}

input:focus {
  outline: none;
}

.suggestions ul {
  display: flex;
  flex-direction: column;
}

.suggestions li {
  padding: 12px 8px;
}

.suggestions mark {
  background-color: var(--accent);
}

.p-image-preview-container:hover > .p-image-preview-indicator {
  background-color: var(--accent-strong-transparent);
}

.p-dropdown {
  background-color: transparent;
  font-family: 'work-sans', system-ui, sans-serif !important;
  border: 0;
  color: var(--brand);
  width: 76px;
}
.p-dropdown:focus-visible {
  outline: 0;
}

.p-dropdown-label {
  color: var(--black-a-8);
  font-weight: 600;
  padding: 8px 4px 8px 8px;
}

.p-dropdown-trigger {
  color: var(--black-a-8);
  width: auto;
  height: auto;
  padding: 8px 8px 8px 0;
  stroke: var(--black-a-8);
  stroke-linejoin: round;
  stroke-width: 1px;
}

.p-dropdown-trigger svg {
  width: 0.75rem;
  height: 0.75rem;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none;
}

.p-dropdown-items,
.p-autocomplete-items {
  padding: 0.25rem 0;
  font-family: 'work-sans', system-ui, sans-serif !important;
  color: var(--black);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus,
.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item:hover {
  background-color: var(--accent-light-transparent);
  color: var(--accent-strong);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight,
.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item.p-highlight {
  background-color: var(--accent-light-transparent);
  color: var(--accent-strong);
}
.p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
  background-color: white;
}

.p-button-icon::before {
  font-weight: 600;
}

/* .p-inputgroup * {
  border: none;
  background-color: transparent;
}

.p-inputgroup *:focus,
.p-inputgroup *:enabled:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent;
}

.p-inputgroup-addon {
  color: var(--black);
  padding-right: 0px;
  min-width: 18px;
}

.p-inputgroup {
  border: 1px solid var(--gray);
  border-radius: 4px;
}

.p-inputgroup:hover {
  border-color: var(--brand);
}

.p-inputgroup:focus {
  border-color: var(--brand);
  box-shadow: 0 0 0 1px var(--brand) !important;
  background-color: transparent;
} */

.p-autocomplete-input {
  width: 100%;
  padding-left: 40px;
}

.wrap-paragraph {
  white-space: pre-wrap;
}

.p-accordion-toggle-icon {
  order: 10;
  margin-left: 8px;
}
