.Authentication {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Authentication > form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 40vw;
  margin: auto;
  align-items: center;
}

.Authentication > form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.radio {
  display: flex;
  flex-direction: row !important;
  gap: 8px !important;
}
