@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* .Authentication {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Authentication > form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 40vw;
  margin: auto;
  align-items: center;
}

.Authentication > form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.radio {
  display: flex;
  flex-direction: row !important;
  gap: 8px !important;
}


.ReactTags__tagInputField {
  width: 100%;
  box-sizing: border-box;
} */

/* html {
  font-size: 16px;
} */

/* TOKENS */
:root {
  --brand: rgb(204, 32, 92);
  --black-a-8: var(rgba(0, 0, 0, 0.8));
}

/* NAVBAR */
a {
  text-decoration: none;
  /* color: grey; */
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 16px 80px; */
  box-sizing: border-box;
}

.p-avatar {
  border: 4px solid var(--brand);
}

.p-menu {
  width: 250px;
  margin-top: 10px;
}

.profileLink {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin: auto;
  padding: 16px 8px;
}

.profileLink a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.profileLink p {
  margin: 0;
}

.p-menuitem-text:hover,
.profileLink > *:hover {
  background-color: transparent;
  color: var(--brand);
}

.p-menu-separator {
  margin: 8px 0;
}

.p-menuitem-content:hover {
  background-color: transparent;
}

.nav-links {
  display: flex;
  gap: 40px;
  align-items: center;
}

/* .nav-links a:hover {
  color: var(--brand);
} */

.user-links {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* ARTWORK */
/* .artwork {
} */

.hero {
  height: 70vh;
}

.hire {
  height: 90vh;
}

.artwork-overlay {
  color: rgba(255, 255, 255, 0);
  transition-duration: 0.3s;
}

.artwork-overlay:hover {
  color: white !important;
}
